<nav class="navbar navbar-static-top">

    <fullstack-logo></fullstack-logo>

    <div class="container">

        <!-- THE WHITE SPACE AT TOP OF THE PAGE -->
        <div class="navbar-header-top clearfix">
            <button ui-sref="trolley" class="btn cart-button">
            <span class='glyphicon glyphicon-shopping-cart'></span>
            </button>
            <p ng-show="user">Welcome {{ user.email }}!</p>
        </div>

        <!-- THE BLACK BAR WITH USER NAV -->
        <div class="navbar-header">

            <ul class="nav navbar-nav-left">

                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}
                    </a>
                </li>

            </ul>
            
            <ul class="nav navbar-nav-right">

                <li ng-show="!user" ui-sref-active="active" ui-sref="signup">Sign Up!</li>
                <li ng-show="!user" ui-sref-active="active" ui-sref="login">Login</li>
                
                <li ng-show="user" ui-sref="userAccount({ userId: user.id})">My Account</li>
                <li ng-show="user" ng-click="logout()">Logout</li>

            </ul>
            
        </div>

    </div>
</nav>