<div class="container">
	<div class="row">
	  <div class="col-sm-4 single-product-page">
	    <img src="{{product.photoUrl}}" />
	  </div>

	  <div class="col-sm-8">
	  	<h2 contenteditable='{{isAdmin}}'
	  		ng-model="newProduct.title"    
    		ng-list="<br><br>">
    		{{product.title}}
    	</h2>
    	<h3 contenteditable='{{isAdmin}}' 
	  		ng-model="newProduct.price"    
    		ng-list="<br><br>">
    		{{product.price}}
<!--     		if we want the dollar sign, we need to remove it before updating the database -->
    	</h3>
    	<ul>
    		<li ng-repeat='category in product.category'>{{category.name}}</li>
    	</ul>
	  	<p contenteditable='{{isAdmin}}' 
	  		ng-model="newProduct.description"    
    		ng-list="<br><br>">
    		{{product.description}}
    	</p>
    	<button class='update-button' ng-show="isAdmin" ng-click="updatePic()">Update Picture</button>
    	<button class='changes-button' ng-show="isAdmin" ng-click="logChanges()">Save Changes</button>
		<add-to-cart ng-if="areEnough()" item="product"></add-to-cart>

	  	<h3 ng-show="!areEnough()">Shame! Looks like we are out of this...</h3>
	  
	  </div>
	</div> 
	<!-- end of product page -->

	<div class="review">

	  	<div class="col-sm-12 reviews">
		  	<h2>Customer Reviews</h2>

			<div>
				<ul class="nav nav-tabs">
			    <li ui-sref-active="active"><a ui-sref="product.reviews">ALL</a></li>
			    <li ng-show="user" ui-sref-active="active"><a ui-sref="product.writeReview">WRITE A REVIEW</a></li>
				</ul>
				<ui-view></ui-view>
			</div>

	  	</div>

	</div>

</div>