<h3>All Products</h3>

<table class="table" id="order-table">
	<thead>
		<tr>
			<th></th>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Product Quantity</th>
			<th>Product Price</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr class="main-row" ng-repeat="product in products | orderBy: 'id'" ui-sref="product({id: product.id})">
			<th><img class="product-preview" src="{{product.photoUrl}}"></th>
			<th >{{product.id}}</th>
			<th>{{product.title}}</th>
			<th>{{product.quantity}}</th>
			<th>{{product.price | currency }}</th>
			<th></th>			
		</tr>
	</tbody>
	
</table>