* {
  box-sizing: border-box;
}

body {
  background: white;
//   background: url("http://o.aolcdn.com/hss/storage/midas/ce16e49e6d36c7140d80e8d3d0d5e94f/203657234/Hogwarts+Castle+lights-WWoHP+at+USH.jpg") repeat fixed center center/
// cover rgba(0,0,0,0);
  // font: 20px "Amatic SC", cursive;
  font: 20px 'Galdeano', sans-serif;
  padding-bottom: 20px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 80px;
  margin: 0 auto;
}


@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'products/allproducts';
@import 'products/singleproduct';
@import 'trolley/main';
@import 'account/main';
@import 'admin/main';
@import 'checkout/main';