* {
  box-sizing: border-box;
}

body {
  background: white;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@font-face {
    font-family: Pistilli;
    src: url('pistilli-roman-webfont.woff2') format('woff2'),
         url('pistilli-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'products/allproducts';
@import 'products/singleproduct';
@import 'trolley/main';
